

button {
    margin-top: 5px;
}
 h1 {
    margin-top: 10%;
    color: rgb(75, 16, 16);
    font-family: 'Rubik Mono One';
 }
body {
    background-color: rgb(134, 180, 219);
    font-size: larger;
    margin-top: 5%;
    margin-left: 31%;
    margin-right: 31%; 

}
::content {
    background-color: cornflowerblue;
}

 

